body{
	margin: 0;
	font-family: Times;
	
}

h1{
	font-weight: 100;
}

#container{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	height: 100vh;


}

#logo{
	height: 80px;
	width: 80px;

}